@model _08_MAY_MVC_DB_First_Test.Models.Customer

<h1>Customer With Highest Order</h1>
<div>
    <p>Customer ID: @Model.CustomerId</p>
    <p>Company Name: @Model.CompanyName</p>
    <p>Contact Name: @Model.ContactName</p>
    <!-- Add more customer details as needed -->
</div>
